<h2>Вход</h2>
<p>Войдите чтобы посмотреть список клиентов</p>

<form action="/admin" method="POST" role="form">

  <div class="form-group">
    <label>Введите логин</label>
    <input name="login" type="text" class="form-control" placeholder="Ваш логин">
  </div>

  <div class="form-group">
    <label>Ввведите пароль</label>
    <input name="password" type="password" class="form-control" placeholder="Ваш пароль">
  </div>

  <button type="submit" class="btn btn-primary">Войти</button>

</form>